:host {
  display: block;
  position: relative;
  background: #191a1b;
  border: 1px solid var(--border);
  border-radius: var(--radius-medium);
  padding: 1.25rem 1.4rem;
  overflow: hidden;
  transition: border-color var(--transition);
  font-variant-numeric: tabular-nums;
}

@media (hover: hover) {
  :host:hover {
    border-color: var(--muted);
  }
}

:host:focus-within {
  border-color: var(--accent);
}